#main{
    position: relative;
    display: flex;
}
.portfolio-info{
    padding: 30px;
    box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}
.portfolio-info h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.portfolio-info h3{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.portfolio-info ul{
    list-style: none;
    padding: 0;
    font-size: 15px;
}
.portfolio-info ul li+li{
    margin-top: 10px;
}
#list{
    list-style-type: disc;
}